<!DOCTYPE html>
<html>
  <head>
  <h1 style="text-align:center;"><font color="orange"><font size="6">Bitcoin vs Gruyere</h1></head>
  <body></h1>

<h2 style="text-align:center;"><font color="black">Bet on Bitcoin or Gruyere. Will you survive?</h2>
​
​
<form action="/action_page.php"><font size="5.5">
  First name:
  <input type="text" name="firstname" value="GruyereFan">
  <br>
  Last name:
  <input "type="text" name="lastname" value="Mouse">
  <br>
  <input type="submit" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" size="10" maxlength="30" value="Go for the coins!">
</form>
</font>
<br>
<font size="5px"><a href="https://www.google.com/?client=safari"><font style="text-align:center;">Game instructions here.</a>
<br>
</br>
<br>
<br>
<br>
<body style="background-color:lightgray;">
<body> Powered by<br>  <img src="/html/images/test.png" alt="Simply Easy Learning" width="200"
         height="80"></body>
​
<br>
​
<p><font size="3"> All rights reserved 2019 </p></font>
​